[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
CoreDataModules = {editable = true, ref = "c474c34675f32b9c0c31dbca8e3105a85a12b04b", git = "https://www.github.com/AfricasVoices/CoreDataModules"}

[dev-packages]

[requires]
python_version = "3.6"
