[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
CoreDataModules = {editable = true, ref = "808b10333ed90fe4f8b2556bddbb86b34b624acf", git = "https://www.github.com/AfricasVoices/CoreDataModules"}

[dev-packages]

[requires]
python_version = "3.6"
