[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
CoreDataModules = {editable = true, ref = "3b6cd392b79e588909dc1b7ddaa9ee0ce424c898", git = "https://www.github.com/AfricasVoices/CoreDataModules"}
pytz = "*"

[dev-packages]

[requires]
python_version = "3.6"
