[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
CoreDataModules = {editable = true, ref = "aff4fb6b3e68c6344dbba15313d03f5d6db1bdb0", git = "https://www.github.com/AfricasVoices/CoreDataModules"}
pytz = "*"

[dev-packages]

[requires]
python_version = "3.6"
