[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
CoreDataModules = {editable = true, ref = "42838e96ac861ef32064dfc31e6e013c93fe2790", git = "https://www.github.com/AfricasVoices/CoreDataModules"}
pytz = "*"

[dev-packages]

[requires]
python_version = "3.6"
