[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
CoreDataModules = {editable = true, ref = "e6d3b8af1d374842a65528f31f77ca3c54556b43", git = "https://www.github.com/AfricasVoices/CoreDataModules"}

[dev-packages]

[requires]
python_version = "3.6"
