[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
CoreDataModules = {editable = true, ref = "371209c5eb0523fc6af899ff040befb946ec5664", git = "https://www.github.com/AfricasVoices/CoreDataModules"}
pytz = "*"
python-dateutil = "*"

[dev-packages]

[requires]
python_version = "3.6"
