[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
CoreDataModules = {editable = true, ref = "196b1a2f892d2f9c7be6c653967c8948e0c2ec8e", git = "https://www.github.com/AfricasVoices/CoreDataModules"}
pytz = "*"
python-dateutil = "*"

[dev-packages]

[requires]
python_version = "3.6"
