[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
CoreDataModules = {editable = true, ref = "314c47d23af91839606b815af627d739436b8c8b", git = "https://www.github.com/AfricasVoices/CoreDataModules"}

[dev-packages]

[requires]
python_version = "3.6"
